table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #0f0f0f;
    text-align: left;
    padding: 8px;
  }
  td>div{
    text-transform: capitalize;
  }
  h1{
    text-transform: capitalize; 
  }

  